<%- include('common/heading') %>

    <% if (page.content) { %>
        <div class="post-content">
            <%- page.content %>
        </div>
        <% } else {%>
            <div class="content">
                <h2>Discover the Beauty of Words</h2>
                <p>At The Art of Poetry, we celebrate the profound beauty and transformative power of poetry. Whether
                    you're a
                    seasoned poet, an aspiring writer, or simply a lover of words, our site is your go-to resource for
                    all
                    things poetic.</p>
            </div>
            <div style="text-align: center;"> <img src="images/logo.png" alt=""></div>
            <div>

                <h2>Explore Our Features</h2>
                <ul>
                    <li>
                        <h3>Inspirational Poetry Collections</h3>
                        <p>Dive into our curated collections of poetry from classic to contemporary. Explore works by
                            renowned
                            poets and discover hidden gems that will ignite your imagination and touch your soul.</p>
                    </li>
                    <li>
                        <h3>Writing Tips & Workshops</h3>
                        <p>Unlock your creative potential with our expert writing tips and workshops. From mastering
                            meter to
                            experimenting with form, our resources are designed to help you refine your craft and
                            express
                            yourself with confidence.</p>
                    </li>
                    <li>
                        <h3>Poet's Corner</h3>
                        <p>Connect with a vibrant community of poets and writers. Share your work, receive constructive
                            feedback, and participate in engaging discussions about the art of writing.</p>
                    </li>
                    <li>
                        <h3>Events & Contests</h3>
                        <p>Join our regular poetry readings, workshops, and writing contests. Showcase your talent, gain
                            recognition, and connect with fellow enthusiasts in a supportive and inspiring environment.
                        </p>
                    </li>
                    <li>
                        <h3>Blog & Resources</h3>
                        <p>Stay informed with our blog, featuring articles on poetry trends, writing techniques, and
                            interviews
                            with celebrated poets. Our resources are tailored to inspire and guide you on your poetic
                            journey.
                        </p>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Why Poetry?</h2>
                <p>Poetry is more than just a form of artistic expression; it’s a way to explore the depths of human
                    experience.
                    Through carefully chosen words and crafted verses, poetry connects us to our emotions, our
                    histories, and
                    each other. At The Art of Poetry, we believe in the power of poetry to uplift, challenge, and
                    transform.</p>
            </div>

            <div>
                <h2>Join Us</h2>
                <p>Whether you’re here to read, write, or simply appreciate the art of poetry, we invite you to be part
                    of our
                    community. Explore, create, and celebrate poetry with us.</p>
            </div>
            </div>
            <% } %>
                <%- include('common/footer') %>